/* Root Variables */
html {
  --first-color: black;
  --second-color: #777;
  --third-color: #ec282e;
  --forth-color: #92deeb;
  --fifth-color: #2855f8;
  --sixth-color: #f9b21a;
  --gradient-color: linear-gradient(#face2d, #fe6a0e);
  --contrast-color: white;
  --base-font-size: 16px;
  font-size: var(--base-font-size);
}

/* Section-6 */
.flexible-image {
  width: 100%;
  height: auto; /* アスペクト比を維持するため */
  max-width: 100%; /* オーバーフロー防止 */
  object-fit: contain; /* 画像の歪み防止 */
}

.campaign-container {
  position: relative;
}

.campaign-box {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  padding: 1rem;
}

.campaign-big {
  font-size: 2rem;
  margin-bottom: 0;
}

.carousel-caption p::before {
  content: "“"; /* 開始クオーテーションマーク */
  color: red; /* クオーテーションマークの色 */
  font-size: 3em; /* クオーテーションマークのサイズ */
}

.carousel-caption p::after {
  content: "”"; /* 終了クオーテーションマーク */
  color: red; /* クオーテーションマークの色 */
  font-size: 3em; /* クオーテーションマークのサイズ */
}

h5 {
  font-size: 2.5rem;
  font-weight: bold;
}

.carousel-caption p {
  font-size: 1.3rem;
}

/* Styles for Tablets*/
@media screen and (max-width: 767px) {
  .campaign-big {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.7rem;
    font-weight: bold;
  }

  .carousel-caption p {
    font-size: 1rem;
  }
}

/* Styles for Smartphone*/
@media screen and (max-width: 575px) {
  .campaign-big {
    font-size: 1rem;
  }

  .campaign-small {
    font-size: 0.5em;
  }

  .campaign-box {
    bottom: 1rem;
    padding: 0.5rem;
  }

  h5 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .carousel-caption p {
    font-size: 1rem;
  }
}
