/* Root Variables */
html {
  --first-color: black;
  --second-color: #777;
  --third-color: #ec282e;
  --forth-color: #92deeb;
  --fifth-color: #2855f8;
  --sixth-color: #f9b21a;
  --contrast-color: white;
  --base-font-size: 16px;
}

/* Section-3 */
h4 {
  font-size: 2rem;
}

.domestic-area {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 700px;
}
.domestic-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, minmax(320px, 1fr));
  gap: 1rem;
}

.transportation-img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.transportation-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.transportation {
  color: var(--contrast-color);
  position: absolute;
  font-size: 1.5rem;
  bottom: 2rem;
  left: 3rem;
}

.overseas-area {
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

.overseas-comment {
  display: flex;
  width: 90%;
}

.comment-1 {
  width: 45%;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}

.comment-2 {
  width: 55%;
  font-size: 1.2rem;
}

.overseas-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: 2rem;
  padding: 1rem;
}

.overseas-tour {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
  border: solid 0.25rem var(--forth-color);
  border-radius: 0.5rem;
  padding: 1rem;
}

.overseas-tour a p {
  color: var(--contrast-color);
  background-color: var(--fifth-color);
  font-size: 1rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: none;
  display: inline;
}

.tour-area {
  font-size: 1.5rem;
  font-weight: bold;
}

.star {
  color: var(--sixth-color);
  font-size: 1.3rem;
}

/* Styles for Tablets*/
@media screen and (max-width: 767px) {
  /* Section-3 */
  .domestic-area {
    min-height: 900px;
  }

  .domestic-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .overseas-area {
    min-height: 800px;
  }

  .overseas-tour {
    width: 45%;
  }
}

/* Styles for Smartphone*/
@media screen and (max-width: 575px) {
  /* Section-3 */
  .domestic-area {
    min-height: 2000px;
  }

  .domestic-container {
    grid-template-columns: 1fr;
  }

  .overseas-area {
    min-height: 1000px;
  }

  .overseas-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 700px;
  }

  .overseas-comment {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .comment-1 {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
  }

  .comment-2 {
    width: 100%;
    font-size: 1rem;
  }

  .overseas-tour {
    width: 100%;
  }
}
