/* Reset Browser Defaults */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

/* Root Variables */
html {
  --first-color: black;
  --second-color: #777;
  --third-color: #ec282e;
  --forth-color: #92deeb;
  --fifth-color: #2855f8;
  --sixth-color: #f9b21a;
  --gradient-color: linear-gradient(#face2d, #fe6a0e);
  --contrast-color: white;
  --base-font-size: 16px;
  font-size: var(--base-font-size);
}

/* General Styles*/
body {
  font-family: Helvetica, sans-serif;
}

/* Header */
header {
  min-height: 80px;
  background-color: var(--forth-color);
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* Nav Bar on PC/laptop/desktop (default) */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.logo {
  display: flex;
  gap: 1rem;
}

h1.logo-title {
  font-size: 2rem;
  align-self: center;
  font-weight: bold;
  color: var(--fifth-color);
  transition: all 0.3s;
}

.logo-mark {
  width: 5vw;
}
.menu-item {
  display: inline-block;
}

.menu-item a {
  padding: 0.8rem 0.8rem;
  border-radius: 0.2rem;
  color: var(--contrast-color);
  font-size: 1rem;
  text-transform: uppercase;
  transition: all 0.3s;
}

.menu-item a.active,
.menu-item a:hover {
  background-color: var(--fifth-color);
}

/* Earth Button Styles */
#checkbox {
  display: none;
}
#checkbox-label {
  cursor: pointer;
}
#earth {
  display: none;
  fill: var(--contrast-color);
  width: 1.5rem;
}

/* Main */
/* Section-1 */
.section-1 {
  margin-top: 80px;
  background-image: url(./assets/imgs/empire-state-building.webp);
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
  min-height: 700px;
  padding-left: 2rem;
}

.first-sentence,
.second-sentence {
  color: var(--contrast-color);
}

.first-sentence {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  font-weight: bold;
}

.second-sentence {
  font-size: 1.5rem;
}

.search-box {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

#text-input {
  color: var(--second-color);
  background-color: var(--contrast-color);
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 1rem 0 0 1rem;
  border: none;
}

#search {
  background-color: var(--fifth-color);
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 0 1rem 1rem 0;
  border: none;
}

#search a {
  color: var(--contrast-color);
}

/* Section-2 */

.section-2 {
  min-height: 600px;
}
.about {
  display: flex;
  min-height: 600px;
  justify-content: space-around;
  align-items: center;
}

.about-container {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  margin: 1rem;
  margin-top: 120px;
}

.about-container p {
  font-size: 1.1rem;
}

#about2-4 p {
  color: var(--contrast-color);
  background-color: var(--fifth-color);
  font-size: 1.3rem;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  display: inline;
}

#about2-5 {
  width: 55%;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 2fr 1fr 2fr;
}

.about2-6 {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  justify-self: center;
}

.travel-backpack {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.travel-dessert {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.travel-backpack img,
.travel-dessert img,
.travel-group img,
.travel-night img {
  max-width: 100%; /* 最大幅を100%に設定 */
  max-height: 100%; /* 最大高さを100%に設定 */
  border-radius: 1rem;
  border: 0.25rem solid var(--forth-color);
}

.travel-group {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.travel-night {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}

/* Footer*/
footer {
  background-color: var(--forth-color);
  min-height: 100px;
  padding: 2rem;
}
.footer-up {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-company {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-container {
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.map-container {
  justify-self: center;
}

.footer-title {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.footer-down {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.nav-footer ul {
  display: flex;
  gap: 1rem;
}

/* Styles for Tablets*/
@media screen and (max-width: 767px) {
  h1.logo-title {
    font-size: 1.5rem;
  }

  .menu-item a {
    font-size: 0.8rem;
    transition: all 0.3s;
  }

  .home {
    width: 80%;
  }

  #text-input {
    font-size: 0.9rem;
  }

  .about {
    display: flex;
    flex-direction: column;
    min-height: 1000px;
  }

  .about-container {
    width: 90%;
  }

  #about2-5 {
    width: 90%;
  }

  h2 {
    margin-top: 110px;
  }

  .footer-up {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    row-gap: 1rem;
  }

  .footer-company {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    display: flex;
  }
  .footer-container {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    justify-self: left;
  }
  .map-container {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
}

/* Styles for Smartphone*/
@media screen and (max-width: 575px) {
  h1.logo-title {
    font-size: 1.25rem;
  }

  @keyframes scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes changeColor {
    0% {
      color: red;
    }
    50% {
      color: blue;
    }
    100% {
      color: green;
    }
  }

  #earth {
    animation-name: scale, changeColor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  #earth {
    display: block;
  }
  #nav-menu {
    position: fixed;
    top: 80px;
    left: -100dvw;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--forth-color);
    text-align: center;
    z-index: 2;
    transition: all 0.5s;
  }
  .menu-item {
    display: block;
    margin: 2rem 0;
  }

  .menu-item a {
    font-size: 1.25rem;
  }

  #checkbox:checked ~ #nav-menu {
    left: 0;
  }

  .home {
    width: 90%;
  }

  #text-input {
    font-size: 0.7rem;
  }

  .about {
    display: flex;
    flex-direction: column;
    min-height: 1000px;
  }

  .about-container {
    width: 90%;
  }

  #about2-5 {
    width: 90%;
  }

  h2 {
    margin-top: 100px;
  }

  .footer-up {
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 1rem;
  }

  .footer-company {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }
  .footer-container {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    justify-self: center;
  }
  .map-container {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
  }

  .footer-down {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
